/* used during full collection/wishlist load */
html.loading {
    cursor: progress;
}

/* search results hidden until click handlers set */
html.search-results-hidden #collection-search-grid, 
html.search-results-hidden #wishlist-search-grid {
    display: none;
}

#player-controls-container {
    height: 68px;
    position: fixed;
    width: 290px;
    background:rgba(0, 0, 0, 0.8);
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    z-index: 101;
}

#seekers {
    margin-top: 6px;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#seekers > * {
    color: white;
}

#seek-back, #seek-forward {
    cursor: pointer;
}

#track_play_waypoint_controls {
    margin-top: 6px;
}
#volume-container {
    margin-top: -6px;
}
#volume-value, #position-container {
    display: inline-block;
    width: 80px;
}

#track_play_waypoints_controls_duration {
    margin-right: 29px;
}
.player-controls {
    color: #fcfcfc;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 24px;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 24px;
}

.player-controls a {
    margin: 0 .7em;
    display: inline-block;
}

#sidebar .track_play_waypoint.stream-activated, #sidebar .track_play_waypoint.activated {
    bottom: 68px !important;
    opacity: 1 !important;
}

/* collection page */

.carousel-player .queue ol {
    height: calc(100% - 80px);
}

h2:has(#playlist-header) {
    font-size: 17px;
}

#playlist-header {
    font-weight: 600;
}

#shuffler, #reverser {
    color:  blue;
    cursor: pointer;
    font-size: 0.7em; 
}

#reverser {
    margin-left: 10px; 
}

.hidden {
    display: none;
}

/* show more button */
.expand-container.show-button {
    display: flex !important;
    justify-content: center;
}

.expand-container.show-button > .show-more {
    margin: 0 1em;
}