#player-controls-container {
    height: 48px;
    position: fixed;
    width: 290px;
    background:rgba(0, 0, 0, 0.8);
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    z-index: 101;

}
#track_play_waypoint_controls {
    margin-top: 6px;
}
#volume-container {
    margin-top: -6px;
}
#volume-value, #position-container {
    display: inline-block;
    width: 80px;
}
#track_play_waypoints_controls_duration {
    margin-right: 29px;
}
.player-controls {
    color: #fcfcfc;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 24px;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 24px;
}

.player-controls a {
    margin: 0 .7em;
    display: inline-block;
}

#sidebar .track_play_waypoint.stream-activated, #sidebar .track_play_waypoint.activated {
    bottom: 48px !important;
    opacity: 1 !important;
}

/* collection page */

#playlist-header {
    font-weight: 600;
}

#shuffler {
    color:  blue;
    cursor: pointer;
    font-size:0.7em; 
    margin-left:10px; 
}